﻿@model Apcompp.Web.Models.ContactFromModel

<a href="javascript:" id="back-to-top"><i class="fas fa-arrow-up"></i></a>

<div class="spec-container header-container">
    <div class="mx-auto container-center">
        <div class="header-item">
            <nav class="navbar navbar-expand-lg">
                <div class="header-logo navbar-brand">
                    <img src="/Content/Image/Logo.png" class="img-fluid logo" alt="Product Preservers">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        @*<span class="navbar-toggler-icon"></span>*@
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse mt-5" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <div class="nav-link link" id="go-discover">DISCOVER</div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link separator">|</div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link link" id="go-getpowered">GET POWERED</div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link separator">|</div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link link" id="go-contact">CONTACT</div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="header-line"><div class="line"></div></div>
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="text-center header-text">
                        <span class="top">THE PRODUCT PRESERVERS™ DIFFERENCE POWERED ANODE SYSTEM</></span>
                        <span class="bottom">NEXT GENERATION CORROSION PROTECTION FOR WATER HEATERS</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spec-container discover-container" id="discover">
    <div class="mx-auto container-center">
        <div class="body-item">
            <div class="discover-text">
                DISCOVER</br>
                THE DIFFERENCE
            </div>
            <div class="why-text">
                <p>Why Go Powered?</p>
				<span>In locales with sulfides in the water, there is a reaction with magnesium anodes which creates hydrogen sulfide gas that produces a rotten smell in the water. Smelly water conditions typically occur in private wells located within locales of the country known for very hard water. In other locales with high conductivity water, aluminum anodes create an aluminum hydroxide gel that decreases the efficiency of the heater and quickly depletes the anode leaving the tank unprotected.</span>

                <span>Powered anodes, also known as impressed current anode systems, replace the function of a sacrificial anode by introducing electricity into the water heater via a titanium-clad electrode that protects the steel. Since no chemicals are added to the water as with sacrificial anodes, the Powered Anode System will not create smelly water or aluminum hydroxide. This next generation of anode provides consistent protection that extends the life of your water heater tank.</span>

            </div>
        </div>
    </div>
</div>
<div class="spec-container generation-container">
    <div class="paralax">
    </div>
    <div class="mx-auto container-center">
        <div class="body-item">
            <div class="generation-text">NEXT GENERATION</br>CORROSION PROTECTION</div>
            <div class="step-info row no-gutters">
                <div class="step-left col-xl-5 col-lg-12 col-md-12">
                    <div class="step"><p>1</p><span>Eliminates smelly water issues and aluminum<br />hydroxide caused by sacrificial anodes.</span></div>
                    <div class="step"><p>2</p><span>Protects for years with no maintenance required.</span></div>
                    <div class="step"><p>3</p><span>Simple installation.</span></div>
                    <div class="step"><p>4</p><span>Great for soft water applications.</span></div>
                </div>
                <div class="step-right col-xl-7 col-lg-12 col-md-12">
                    <div class="steps-item row no-gutters">
                        <div class="col-md-4 pl-0 pr-0">
                            <div class="circle one"><i class="fas fa-chart-line"></i></div>
                            <p>EFFICIENT</p>
                            <span>
                                Patented adaptive technology</br>
                                quickly adjusts to the local water</br>
                                conditions.
                            </span>
                        </div>
                        <div class="col-md-4 pl-0 pr-0">
                            <div class="circle two">
                                <i class="fas fa-charging-station"></i>
                            </div>
                            <p>RELIABLE</p>
                            <span>
                                Continual responsive</br>
                                protection.
                            </span>
                        </div>
                        <div class="col-md-4 pl-0 pr-0">
                            <div class="circle three">
                                <i class="fas fa-list-ol"></i>
                            </div>
                            <p>SIMPLE</p>
                            <span>
                                Easy installation with standard</br>
                                power supply.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spec-container installation-container">
    <div class="paralax">
    </div>
    <div class="mx-auto container-center">
        <div class="body-item">
            <div class="installation row no-gutters">
                <div class="left col-xl-5 col-lg-12 col-md-12">
                    <img src="~/Content/Image/Full_Kit_withBox_Sized.png" class="img-fluid" />
                    <span class="proof">Kit # 100305721</span>
                    <span>
                        The Product Preservers Powered Anode
                        System is an excellent option for upgrading most new and existing electric or gas water heaters up to 50 gallons and less than 10 years old.
                    </span>
                    @*<span>
                        The Product Preservers Powered Anode</br>
                        System is an excellent option for upgrading most</br> new and existing electric or gas water heaters up</br> to 50 gallons and less than 10 years old.
                    </span>*@
                </div>
                <div class="right col-xl-7 col-lg-12 col-md-12">
                    <span>
                        SIMPLE INSTALLATION IN THREE STEPS
                    </span>
                    <div class="installation-item row no-gutters justify-content-center">
                        <div class="col-md-4 col-8 pl-0 pr-0 col-sm-12 item">
                            <div class="head"><span>STEP 1</span></div>
                            <div class="circle one"><img src="~/Content/Image/Step1.png" /></div>
                            <div class="fotter">REMOVE THE</br>EXISTING</br>SACRIFICIAL</br>ANODE ROD</div>
                        </div>
                        <div class="col-md-4 col-8 pl-0 pr-0 col-sm-12 item">
                            <div class="head"><span>STEP 2</span></div>
                            <div class="circle two"><img src="~/Content/Image/Step2.png" /></div>
                            <div class="fotter">INSERT THE</br>POWERED ANODE</br>ROD AND MOUNT</br>CONTROL BOX</div>
                        </div>
                        <div class="col-md-4 col-8 pl-0 pr-0 col-sm-12 item">
                            <div class="head"><span>STEP 3</span></div>
                            <div class="circle three"><img src="~/Content/Image/Step3.png" /></div>
                            <div class="fotter">PLUG IN YOUR</br>NEW POWERED</br>ANODE</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spec-container powered-container" id="powered">
    <div class="mx-auto container-center">
        <div class="body-item">
            <div class="powered-text">
                GET</br>
                POWERED
            </div>
            <div class="powered-text-info">
                <span class="info">
                    You can earn up to $375 in gift cards by purchasing Product Preservers™ Powered Anode Systems! For a limited time, a $75 gift card is available for redemption for every 10 Product Preservers™ Powered Anode Systems purchased.*
                </span>
                <span class="info">
                    If you are ready to redeem, select Request Gift Card button below.
                </span>
                <span class="info">
                    If you are interested in purchasing, select Purchase Power button below.
                </span>
                <span class="bonus" id="bonus">
                    Bonus: Be listed as one of our preferred wholesalers starting January 2019 when you
                    </br>have earned all 5 gift cards!
                </span>
                <span class="proof">*Proof of purchase required. Maximum five (5) gift cards allowed to be redeemed per wholesaler location. Request gift card for submission details.</span>
                <div class="group-btn">
                    <button class="btn btn-app-com btn-secondary" type="button" id="purchase_power">
                        PURCHASE POWER
                    </button>
                    <a class="btn btn-app-com btn-secondary" href="http://promos.productpreservers.com" target="_blank">REQUEST GIFT CARD</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spec-container contact-container" id="contact">
    <div class="mx-auto container-center">
        <div class="body-item">
            <div class="from-item">
                <p>NEED MORE INFO?</p>
                @using (Html.BeginForm("SubmitForm", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "home-form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-4 order-sm-0  order-0 order-md-0">
                            <div class="row">
                                <div class="col-md-12"><div class="form-group">@Html.TextBoxFor(x => x.FirstName, new { @class = "form-control form-control-app-com", placeholder = "First Name*" })@Html.ValidationMessageFor(x => x.FirstName)</div></div>
                                <div class="col-md-12"><div class="form-group">@Html.TextBoxFor(x => x.LastName, new { @class = "form-control form-control-app-com", placeholder = "Last Name*" })@Html.ValidationMessageFor(x => x.LastName)</div></div>
                                <div class="col-md-12"><div class="form-group">@Html.TextBoxFor(x => x.Email, new { @class = "form-control form-control-app-com", placeholder = "Email*" })@Html.ValidationMessageFor(x => x.Email)</div></div>
                                <div class="col-md-12"><div class="form-group">@Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control form-control-app-com", placeholder = "Company Name*" })@Html.ValidationMessageFor(x => x.CompanyName)</div></div>
                            </div>
                        </div>
                        <div class="col-md-4 order-sm-2 order-2 order-md-1">
                            <div class="row">
                                <div class="col-md-12"><div class="form-group">@Html.TextBoxFor(x => x.Address, new { @class = "form-control form-control-app-com", placeholder = "Address" })@Html.ValidationMessageFor(x => x.Address)</div></div>
                                <div class="col-md-12"><div class="form-group">@Html.TextBoxFor(x => x.City, new { @class = "form-control form-control-app-com", placeholder = "City" })@Html.ValidationMessageFor(x => x.City)</div></div>
                                <div class="col-md-12"><div class="form-group">@Html.TextBoxFor(x => x.State, new { @class = "form-control form-control-app-com", placeholder = "State" })@Html.ValidationMessageFor(x => x.State)</div></div>
                            </div>
                        </div>
                        <div class="col-md-4 order-sm-3 order-3 order-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">@Html.TextAreaFor(x => x.Comments, new { @class = "form-control form-control-app-com", placeholder = "Comments", style = "min-height:218px; max-height:218px", rows = "3" })@Html.ValidationMessageFor(x => x.Comments)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 order-sm-1 order-1 order-md-3">
                            <div class="row">
                                <div class="col-md-6"><div class="form-group">@Html.TextBoxFor(x => x.LocalManufacturerRep, new { @class = "form-control form-control-app-com", placeholder = "Local Manufacturer Rep*" })@Html.ValidationMessageFor(x => x.LocalManufacturerRep)</div></div>
                                <div class="col-md-6"><div class="custom-control custom-checkbox pt-sm-0 pb-sm-3 pt-md-4 pb-md-0 pt-0 pb-3">@Html.CheckBoxFor(x => x.IDontKnow, new { @class = "custom-control-input" })<label class="custom-control-label" for="IDontKnow">I don’t know</label></div></div>
                            </div>
                        </div>
                        <div class="col-md-4 order-sm-4 order-4 order-md-4">
                            <div class="row">
                                <div class="col-md-12 d-flex justify-content-center justify-content-sm-center justify-content-md-end">
                                    <button data-sitekey="6LemfHEUAAAAAKC3TihgT_GLo_Zg69KztCyow8y4" data-callback='onSubmitHomeForm' class="g-recaptcha btn btn-app-com btn-secondary float-right">SUBMIT</button>

                                    @*<div class="g-recaptcha" data-sitekey="6Lf7e3EUAAAAAEjN-8fR3AUWYHKZNMFbLiPRzSAT"></div>
                                    <button class="btn btn-app-com btn-secondary float-right submit-btn" type="submit">SUBMIT</button>*@

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="info-modal">
    <div class="header"><div class="back"></div><div class="close">⨉</div><div class="header-part"><span>GET POWERED</span></div></div>
	<div class="content">
		<span>Place your order by calling 800.433.2545 or contact your local manufacturing representative.</span>
		<span class="details">Then, don't forget to submit your proof of purchase for every 10 Powered Anode Systems ordered!</span>
	</div>
</div>

@section scripts {
    <script>
        function onSubmitHomeForm(token) {

            // Stop form from submitting normally
            //event.preventDefault();

            var form = $("#home-form");
            form.validate();

            if (!form.valid()) {
                grecaptcha.reset();
            } else {
                // Send the data using post
                var posting = $.post("/Home/SubmitForm", $(form).serialize());

                // Put the results in a div
                posting.done(function (data) {
                    console.log(data);
                    if (data.Code == "Error") {
                        swal({
                            title: "Error!",
                            text: data.Message,
                            icon: "warning",
                            button: "CLOSE",
                        });
                    } else {
                        swal({
                            title: "Success!",
                            //text: "",
                            icon: "success",
                            button: "OK",
                        }).then((value) => {
                            if (value) {
                                clearForm();
                            }
                        });
                    }
                }).fail(function () {
                    swal({
                        title: "Error!",
                        text: "Something gone wrong!",
                        icon: "warning",
                        button: "CLOSE",
                    });
                });


            }
        }



        function clearForm() {
            $(':input', 'form')
                .not(':button, :submit, :reset, :hidden')
                .val('')
                .prop('checked', false);

            addValidation(true);
        }

        function addValidation(isAdd) {
            $("form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");

            var obj = $('#LocalManufacturerRep');

            if (isAdd) {
                obj.attr({ "data-val": "true", "data-val-required": "The Local Manufacturer Rep field is required.", "placeholder": "Local Manufacturer Rep*" });
            } else {
                obj.attr({ "placeholder": "Local Manufacturer Rep" });
                obj.next(".field-validation-error").removeClass("field-validation-error").addClass("field-validation-valid").html('');

                obj.removeClass("input-validation-error");
                obj.removeAttr("data-val data-val-required");
            }

            $.validator
                .unobtrusive
                .parse("form");
        }



        $(document).ready(function () {

            addValidation(true);

            $("#IDontKnow").click(function () {
                if ($(this).is(':checked')) {
                    addValidation(false);
                } else {
                    addValidation(true);
                }
            });
        });

    </script>

}

