﻿@import "fonts";

@font: 'MuseoSans';

body {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: @font;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/*input,
select,
textarea {
    max-width: 280px;
}*/

.container-center {
    max-width: 1800px;
    width: 100%;

    .header-item {
        height: 300px;
        background-color: #fff;
        padding-right: 104px;
        /*background-image: url('Image/Logo.png');
        background-repeat: no-repeat;
        background-position: 51px 35px;
        background-size: 800px;
        -o-background-size: 43% auto;
        -webkit-background-size: 43% auto;
        -moz-background-size: 43% auto;
        -o-background-size: 43% auto;
        -webkit-background-size: 43% auto;
        -moz-background-size: 43% auto;
        background-size: 43% auto;*/
        /*background-position: 27px 77px;*/
        .navbar {
            padding: 0;

            .navbar-toggler {
                margin-left: 30px;

                i {
                    font-size: 40px;
                    color: #767676;
                }
            }

            .navbar-nav {
                .nav-item:last-child {
                    .nav-link {
                        padding-right: 0;
                    }
                }
            }
        }

        .header-logo {
            padding-top: 35px;
            padding-left: 50px;
            padding-bottom: 0;
            display: block;
            max-width: 850px;
            width: 100%;

            .logo {
                /*position: absolute;*/
                width: 100%;
                max-width: 800px;
            }
        }

        .header-line {
            display: block;
            margin-top: -30.5px;
            width: 100%;
            padding-left: 18%;

            .line {
                height: 5px;
                background-color: #316098;
                border-radius: 5px;
            }
            /*margin-right: 100px;*/
        }

        .separator {
            font-weight: 300;
            font-size: 23px;
            /*margin-left: 10px;
                margin-right: 10px;*/
        }

        .header-text {
            padding-left: 104px;
            padding-top: 30px;

            .top {
                display: block;
                font-weight: 800;
                font-size: 29px;
            }

            .bottom {
                display: block;
                font-size: 24px;
                font-weight: 600;
                line-height: 27px;
            }
        }
    }
}

.spec-container {
    display: block;
    width: 100%;

    &.header-container {
        background-color: #fff;
    }

    &.discover-container {
        background-color: #356094;

        .body-item {
            min-height: 760px;
            height: 100%;
            width: 100%;
            display: inline-block;
            background-image: url('Image/Div1_Image.png');
            background-repeat: no-repeat;
            -o-background-size: 90% auto;
            -webkit-background-size: 90% auto;
            -moz-background-size: 90% auto;
            background-size: 90% auto;
            -o-background-size: 90% auto;
            -webkit-background-size: 90% auto;
            -moz-background-size: 90% auto;
            /*background-size: 90% auto;
            background-position: 27px 77px;*/
            background-size: 91% auto;
            background-position: 30px 100%;
            padding-right: 60px;

            .discover-text {
                font-size: 151px;
                font-weight: 800;
                line-height: 119px;
                padding-top: 39px;
                padding-left: 35px;
                letter-spacing: -2.1px;
                color: rgba(92, 131, 180, 0.6);
            }

            .why-text {
                max-width: 940px;
                width: 100%;
                color: #fff;
                float: right;
                text-align: right;
                padding-top: 90px;

                p {
                    font-size: 40px;
                    font-weight: 800;
                    margin-bottom: 34px;
                }

                span {
                    display: block;
                    margin-bottom: 20px;
                    font-size: 19px;
                    line-height: 24px;
                }
            }
        }
    }

    &.generation-container {
        background-color: #5D7FA9;
        position: relative;

        .paralax {
            background-image: url('Image/Blueprint_BG.png');
            opacity: 0.2;
            filter: alpha(opacity=20);
            /* background-color: white; */
            /* z-index: 990; */
            /*height: 680px;*/
            height: 100%;
            content: '';
            background-attachment: fixed;
            background-position: center;
            /* background-repeat: no-repeat; */
            /* background-size: cover; */
            position: absolute;
            top: 0px;
            width: 100%;
        }

        .body-item {
            min-height: 680px;
            height: 100%;
            width: 100%;
            display: inline-block;
            position: relative;
            background-image: url('Image/Div2_Image.png');
            background-repeat: no-repeat;
            background-size: auto 90%;
            -o-background-size: auto 90%;
            -webkit-background-size: auto 90%;
            -moz-background-size: auto 90%;
            -o-background-size: auto 90%;
            -webkit-background-size: auto 90%;
            -moz-background-size: auto 90%;
            background-position: 53px 23px;

            .step-info {
                margin-top: 45px;
                display: flex;
                padding-right: 60px;
                padding-left: 138px;
                justify-content: center;

                .step-left {
                    color: #ffffff;
                    display: inline-block;
                    min-width: 450px;

                    .step {
                        display: block;
                        position: relative;
                        min-height: 80px;
                        margin-bottom: 14px;
                        display: flex;
                        align-items: flex-end;

                        p {
                            position: absolute;
                            font-size: 107px;
                            color: #86a1c1;
                            font-weight: 800;
                            line-height: 88px;
                        }

                        span {
                            font-size: 25px;
                            margin-bottom: 8px;
                            display: block;
                            margin-left: 42px;
                            z-index: 1;
                        }
                    }
                }

                .step-right {
                    /*width: 60%;*/
                    display: inline-block;
                    /*padding-left: 75px;*/
                    text-align: center;

                    .steps-item {
                        color: #ffffff;

                        p {
                            font-size: 43px;
                            font-weight: 800;
                            margin-top: 25px;
                            margin-bottom: 0px;
                        }

                        span {
                            font-size: 20px;
                            line-height: 25px;
                        }

                        .circle {
                            display: block;
                            background-color: #86a1c1;
                            /* color: black; */
                            height: 185px;
                            width: 185px;
                            border-radius: 100px;
                            text-align: center;
                            margin: auto;

                            &.one .fas {
                                font-size: 115px;
                                line-height: 182px;
                            }

                            &.two .fas {
                                font-size: 100px;
                                line-height: 182px;
                                margin-left: 8px;
                            }

                            &.three .fas {
                                font-size: 108px;
                                line-height: 182px;
                            }
                        }
                    }
                }
            }

            .generation-text {
                font-size: 107px;
                font-weight: 800;
                line-height: 88px;
                padding-top: 39px;
                /* color: rgba(164, 184, 208, 0.6); */
                color: #86a1c1;
                text-align: right;
                margin-right: 60px;
                letter-spacing: -2.1px;
            }
        }
    }

    &.installation-container {
        background-color: #859FBE;
        position: relative;

        .paralax {
            background-image: url('Image/Blueprint_BG.png');
            opacity: 0.2;
            filter: alpha(opacity=20);
            /* background-color: white; */
            /* z-index: 990; */
            height: 100%;
            /*height: 715px;*/
            content: '';
            background-attachment: fixed;
            background-position: right;
            /* background-repeat: no-repeat; */
            /* background-size: cover; */
            position: absolute;
            top: 0px;
            width: 100%;
        }

        .body-item {
            min-height: 715px;
            height: 100%;
            width: 100%;
            display: inline-block;
            position: relative;
            /*background-image: url('Image/Div3_Image.png');
            background-repeat: no-repeat;
            background-size: 39% auto;
            -o-background-size: 39% auto;
            -webkit-background-size: 39% auto;
            -moz-background-size: 39% auto;
            -o-background-size: 39% auto;
            -webkit-background-size: 39% auto;
            -moz-background-size: 39% auto;
            background-position: 30px 40px;*/
            .installation {
                display: flex;
                padding-right: 45px;
                padding-left: 45px;

                .left {
                    /*width: 45%;*/
                    display: inline-block;
                    text-align: center;

                    img {
                        margin-top: 130px;
                    }

                    span {
                        font-size: 30px;
                        color: #fff;
                        text-align: center;
                        display: block;
                        margin-top: 40px;
                        line-height: 35px;

                        &.proof {
                            font-size: 15px;
                            display: block;
                            margin: 0 20px 0 0;
                            text-align: right;
                        }
                    }
                }

                .right {
                    /*width: 55%;*/
                    display: inline-block;
                    padding-top: 34px;

                    span {
                        color: #2d6199;
                        font-size: 47px;
                        font-weight: 800;
                        margin-bottom: 10px;
                        display: block;
                        letter-spacing: -0.5px;
                    }

                    .installation-item {
                        .head {
                            display: block;
                            height: 47px;
                            width: 100%;
                            background-color: rgba(76, 76, 77, 0.4);
                            text-align: center;

                            span {
                                color: #fff;
                                font-weight: 700;
                                font-size: 25px;
                                line-height: 28px;
                                display: inline-block;
                                vertical-align: middle;
                                line-height: normal;
                            }
                        }

                        .circle {
                            height: 90px;
                            width: 90px;
                            background-color: #fff;
                            border-radius: 50px;
                            margin-top: -43px;
                            text-align: center;
                            margin-left: 5px;

                            img {
                                height: 100%;
                            }

                            &.one {
                                padding: 13px;
                            }

                            &.two {
                                padding: 15px;
                            }

                            &.three {
                                padding: 7px;
                            }
                        }

                        .fotter {
                            display: block;
                            height: 150px;
                            width: 100%;
                            background-color: rgba(76, 76, 77, 0.4);
                            /*position: absolute;*/
                            bottom: 0;
                            color: #fff;
                            text-align: left;
                            font-weight: 700;
                            font-size: 25px;
                            line-height: 28px;
                            padding-top: 20px;
                            padding-left: 13px;
                            margin-top: 85%;
                        }

                        div.item {
                            border: 1px solid #707170;
                            background-repeat: no-repeat;
                            /*height: 515px;*/
                            min-width: 240px;

                            &:nth-child(1) {
                                background-image: url('Image/removingAnodeWide.png');
                            }

                            &:nth-child(2) {
                                background-image: url('Image/insertingElectricAnodeWide.png');
                            }

                            &:nth-child(3) {
                                background-image: url('Image/pluggingIn.png');
                            }
                        }
                    }
                }
            }
            /*.installation-text {
                font-size: 107px;
                font-weight: 800;
                line-height: 88px;
                padding-top: 39px;
                padding-left: 35px;
                /* color: rgba(164, 184, 208, 0.6);
            color: #86a1c1;
            text-align: right;
            padding-left: 420px;
            margin-right: 60px;
            letter-spacing: -2.1px;
        }

        */
        }
    }

    &.powered-container {
        background-color: #ffffff;
        position: relative;

        .body-item {
            height: 100%;
            width: 100%;
            min-height: 785px;
            display: inline-block;
            position: relative;
            background-image: url('Image/Div4_Image.png');
            background-repeat: no-repeat;
            -o-background-size: 87% auto;
            -webkit-background-size: 87% auto;
            -moz-background-size: 87% auto;
            -o-background-size: 87% auto;
            -webkit-background-size: 87% auto;
            -moz-background-size: 90% auto;
            background-size: 87% auto;
            background-position: 115px 320px;

            .powered-text {
                font-size: 188px;
                font-weight: 800;
                line-height: 151px;
                padding-top: 36px;
                padding-left: 111px;
                letter-spacing: -2.1px;
                color: #b9c8db;
            }

            .powered-text-info {
                float: right;
                text-align: right;
                margin-top: 124px;
                line-height: 30px;
                margin-right: 290px;
                letter-spacing: -0.33px;
                padding-bottom: 45px;

                .info {
                    font-size: 25px;
                    display: block;
                    margin-bottom: 31px;
                }

                .bonus {
                    font-size: 25px;
                    font-weight: 700;
                    display: block;
                    margin-bottom: 24px;
                }

                .proof {
                    font-size: 15px;
                    display: block;
                }
            }
        }
    }

    &.contact-container {
        background-color: #e3e3e3;
        position: relative;

        .body-item {
            height: 100%;
            width: 100%;
            min-height: 593px;
            display: inline-block;
            position: relative;

            .from-item {
                padding-left: 115px;
                margin-right: 285px;
                padding-bottom: 160px;

                p {
                    font-size: 40px;
                    font-weight: 800;
                    padding-top: 46px;
                }
            }
        }
    }

    .submit-btn {
        margin-top: 20px;
    }
}

.btn-app-com {
    background-color: #2d6199;
    color: #ffffff;
    font-weight: 800;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.8px;
    padding: 0;
    border-radius: 3px;
    width: 240px;
    box-shadow: 0px 2px 8px #888888;
}

.group-btn {
    margin-top: 35px;
    display: inline-flex;
    justify-content: space-between;
    width: 544px;
}

input {
    &.form-control-app-com {
        height: 62px;
    }
}

.form-control-app-com.input-validation-error {
    border-color: #fb5252;
}

.field-validation-error {
    color: #fb5252;
}

.form-control-app-com {
    border: 2px solid #707170;
    border-radius: 2px;
    font-size: 25px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #fff;
}

.custom-control-label::before {
    width: 2rem;
    height: 2rem;
    background-color: #fff;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    /* background-color: red; */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0.1rem;
    left: -2.5rem;
    border: 2px solid #707170;
}

.custom-control-label::after {
    width: 2rem;
    height: 2rem;
    left: -2.5rem;
    border: 2px solid #707170;
}

.custom-control-label {
    line-height: 3.5;
    font-weight: 300;
}

.custom-control.custom-checkbox {
    padding-left: 2.5rem;
    padding-top: 25px;
}

.link {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    white-space: nowrap;
    font-size: 23px;
    font-weight: 800;

    &:hover {
        color: rgba(92, 131, 180, 1);
    }

    &:active {
        color: rgb(60, 85, 116);
    }
}

#back-to-top {
    z-index: 99;
    position: fixed;
    bottom: 105px;
    right: 50px;
    background: #000000;
    background: rgba(43, 81, 126, 0.8);
    width: 70px;
    height: 70px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 8px #333333;

    &:hover {
        background: rgba(34, 56, 83, 0.66);

        i {
            color: #fff;
            top: 5px;
        }
    }

    i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 42px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}

.swal-modal {
    /*border: 1px solid #707170;
    border-radius: 1px;*/
}

.swal-overlay {
    background-color: rgba(181, 181, 181, 0.45);
}

@media (max-width: 460px) {
	.powered-modal {
		min-width: 200px !important;
	}
}

@media (max-width: 668px) {
	.powered-modal {
		min-width: 300px !important;
	}

	#info-modal {
		.content {
			span {
				font-size: 21px;
				&.details {
					font-size: 17px;
					font-weight: normal;
					margin-top: 25px;
				}
			}
		}
	}
}

.powered-modal {
    border: 1px solid #707170;
    border-radius: 1px;
    min-width: 650px;

    .swal-content {
        padding: 0;
        margin: 0;
    }
}

	#info-modal {
		display: none;

		.header {
			width: 100%;
			display: block;
			height: 140px;
			background-color: #fff;
			position: relative;

			.back {
				display: block;
				width: 100%;
				height: 140px;
				position: absolute;
				top: 0;
				left: 0;
				background-image: url('Image/Popup_Image.png');
				background-repeat: no-repeat;
				-o-background-size: 95% auto;
				-webkit-background-size: 95% auto;
				-moz-background-size: 95% auto;
				-o-background-size: 95% auto;
				-webkit-background-size: 95% auto;
				-moz-background-size: 95% auto;
				background-size: 95% auto;
				background-position: 15px 103px;
			}

			.close {
				display: block;
				position: absolute;
				top: 20px;
				right: 28px;
				cursor: pointer;
				color: #fff;
				font-size: 25px;
			}

			.header-part {
				display: block;
				width: 100%;
				height: 120px;
				background-color: #2d6199;


				span {
					font-size: 44px;
					font-weight: 800;
					color: #fff;
					height: 120px;
					padding-top: 50px;
					display: block;
				}
			}
		}

		.content {
			display: block;
			background-color: #fff;
			padding: 40px 35px 50px;

			span {
				text-align: center;
				font-size: 25px;
				font-weight: 600;
				color: #2d6199;
				display: block;

				&.details {
					font-size: 21px;
					font-weight: normal;
					margin-top: 25px;
				}
			}
		}
	}



@media (max-width: 1843px) {
    .spec-container.discover-container {
        .body-item {
            background-size: 88% auto;
            background-position: 30px 80%;
        }
    }
}

@media (max-width: 1740px) {
    .spec-container.discover-container {
        .body-item {
            background-size: 85% auto;
            background-position: 30px 64%;

            .why-text {
                margin-top: 190px;
            }
        }
    }
}

@media (max-width: 1200px) {

    .container-center {
        .header-item {
            /*padding-right: 0px;*/
            .header-line {
                margin-top: -12.5px;
            }
            /*.header-logo {
                padding-right: 104px;
            }*/
            .header-text {
                .top {
                    font-size: 25px;
                }

                .bottom {
                    font-size: 20px;
                }
            }
        }
    }

    .spec-container.discover-container {
        .body-item {
            background-size: 95% auto;
            background-position: 23px 42%;

            .discover-text {
                font-size: 110px;
                line-height: 90px;
                letter-spacing: -2.1px;
            }
        }
    }

    .spec-container.installation-container {
        .body-item {
            .installation {
                padding-bottom: 45px;

                .right {
                    span {
                        text-align: center;
                    }

                    .installation-item {
                        div.item {
                            background-size: 100% 100%;
                            /*height: 420px;*/
                        }
                    }
                }
            }
        }
    }

    .spec-container.generation-container {
        .body-item {
            .step-info {
                .step-right {
                    .steps-item {
                        justify-content: center;
                        padding-bottom: 90px;

                        > div {
                            min-width: 220px;
                        }
                    }
                }
            }
        }
    }

    .spec-container.powered-container {
        .body-item {

            .powered-text-info {
                margin-right: 50px;
            }

            .powered-text {
                font-size: 130px;
                font-weight: 800;
                line-height: 126px;
                padding-top: 35px;
                padding-left: 111px;
                letter-spacing: -2.1px;
                color: #b9c8db;
            }
        }
    }

    .spec-container.contact-container {
        .body-item {
            .from-item {
                margin-right: 50px;
                padding-left: 50px;
            }
        }
    }
}

@media (max-width: 991px) {

    .container-center {
        .header-item {
            padding-right: 0px;

            .header-text {
                padding-right: 35px;
            }

            .header-line {
                padding-right: 35px;
            }

            .header-logo {
                padding-right: 104px;
            }
        }
    }

    .navbar-collapse {
        position: absolute;
        background-color: rgba(88, 131, 183, 0.96);
        width: 100%;
        z-index: 99;
        top: 38%;

        .navbar-nav .nav-link {
            color: #fff;
            padding-left: 20px;

            &.separator {
                display: none;
            }
        }
    }
}

@media (max-width:769px) {
    .container-center {
        .header-item {
            height: 250px;

            .navbar .navbar-toggler {
                margin-left: 0px;
            }

            .header-logo {
                padding-right: 55px;
                padding-top: 20px;
                padding-left: 32px;
            }

            .header-line {
                padding-right: 15px;
                margin-top: -14.5px;
            }

            .header-text {
                padding-right: 0;
                padding-left: 0;
                padding-top: 10px;

                .top {
                    padding-left: 10%;
                    padding-right: 10%;
                    display: block;
                    letter-spacing: 0.6px;
                    line-height: 32px;
                }

                .bottom {
                    font-size: 22px;
                    margin-top: 9px;
                    display: block;
                    line-height: 18px;
                }
            }
        }
    }

    .spec-container.discover-container {
        .body-item {
            padding-right: 15px;
            padding-left: 15px;
            padding-bottom: 90px;
            background-position: 23px 25%;

            .why-text {
                margin-top: 176px;

                p {
                    margin-bottom: 31px;
                }

                span {
                    font-size: 27px;
                    line-height: 30px;
                }
            }

            .discover-text {
                font-size: 90px;
                line-height: 70px;
                letter-spacing: -2.1px;
                padding-left: 0;
                padding-top: 29px;
                letter-spacing: -3px;
            }
        }
    }


    .spec-container.generation-container {
        .body-item {
            background-size: 10.1% auto;
            -o-background-size: 10.1% auto;
            -webkit-background-size: 10.1% auto;
            -moz-background-size: 10.1% auto;
            background-position: 38px 31px;

            .step-info {
                margin-top: 60px;
                padding-right: 33px;
                padding-left: 50px;
                padding-bottom: 180px;

                .step-left {
                    padding-left: 94px;

                    .step {
                        height: 56px;

                        p {
                            font-size: 62px;
                            line-height: 62px;
                        }

                        span {
                            margin-left: 31px;
                            line-height: 24px;
                        }
                    }
                }

                .step-right {
                    .steps-item {
                        justify-content: center;

                        > div {
                            min-width: 360px;
                        }

                        p {
                            font-size: 60px;
                            margin-top: 35px;
                        }

                        span {
                            font-size: 35px;
                            line-height: 45px;
                            margin-top: 8px;
                            display: block;
                            /*padding-left: 80px;
                            padding-right: 80px;*/
                        }

                        .circle {
                            height: 280px;
                            width: 280px;
                            border-radius: 150px;
                            margin-top: 60px;
                            /*margin-left: 116px;*/
                            &.one {
                                .fas {
                                    font-size: 180px;
                                    line-height: 276px;
                                }
                            }

                            &.two {
                                .fas {
                                    font-size: 154px;
                                    line-height: 270px;
                                    margin-left: 18px;
                                }
                            }

                            &.three {
                                .fas {
                                    font-size: 158px;
                                    line-height: 285px;
                                }
                            }
                        }
                    }
                }
            }

            .generation-text {
                font-size: 89px;
                font-weight: 800;
                line-height: 72px;
                padding-top: 58px;
                margin-right: 30px;
                letter-spacing: 0.2px;
            }
        }
    }

    .spec-container.installation-container {
        .body-item {
            .installation {
                padding-right: 18px;
                padding-left: 45px;
                padding-bottom: 82px;

                .left {
                    img {
                        margin-top: 56px;
                    }

                    span {
                        font-size: 26px;
                        margin-top: 67px;
                        line-height: 32px;
                    }
                }

                .right {
                    padding-top: 70px;
                    line-height: 79px;

                    .installation-item {

                        div.item {
                            min-width: 350px;
                        }

                        .fotter {
                            font-size: 30px;
                            line-height: 31px;
                        }

                        .circle {
                            height: 130px;
                            width: 130px;
                            border-radius: 70px;
                        }

                        div.item {
                            /*height: 876px;*/
                            .head {
                                height: 70px;
                            }
                        }
                    }
                }
            }
        }
    }

    .spec-container.powered-container {
        .body-item {
            -moz-background-size: 97% auto;
            -o-background-size: 97% auto;
            -webkit-background-size: 97% auto;
            -moz-background-size: 97% auto;
            background-size: 97% auto;
            background-position: 21px 283px;


            .powered-text-info {
                margin-top: 168px;
                line-height: 30px;
                margin-right: 0;

                .info {
                    margin-right: 27px;
                }

                .bonus {
                    margin-right: 27px;
                }

                .proof {
                    font-size: 25px;
                    margin-right: 27px;
                }
            }


            .powered-text {
                font-size: 90px;
                line-height: 74px;
                padding-top: 65px;
                padding-left: 16px;
            }
        }
    }

    .spec-container.contact-container {
        .body-item {
            .from-item {
                margin-right: 17px;
                padding-left: 40px;
                padding-bottom: 45px;
            }
        }
    }


    .btn-app-com {
        font-size: 36px;
        line-height: 33px;
        letter-spacing: 0.8px;
        padding: 16px;
        border-radius: 3px;
        width: 438px;
    }

    .group-btn {
        margin-top: 70px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        .btn-app-com {
            margin-bottom: 40px;
        }
    }
}



@media (max-width:540px) {
    .container-center {
        .header-item {
            height: 175px;

            .navbar .navbar-toggler {
                margin-left: 0;
            }

            .header-logo {
                padding-right: 54px;
                padding-top: 15px;
                padding-left: 15px;
            }

            .header-line {
                padding-right: 15px;
                margin-top: -12.5px;
            }

            .header-text {
                padding-right: 0;
                padding-left: 0;
                padding-top: 10px;


                .top {
                    font-size: 14px;
                    padding-left: 0;
                    padding-right: 0;
                    display: block;
                    letter-spacing: 0.6px;
                    line-height: 18px;
                }

                .bottom {
                    font-size: 14px;
                    margin-top: 9px;
                    display: block;
                    line-height: 18px;
                }
            }
        }
    }

    .spec-container.discover-container {
        .body-item {
            padding-right: 15px;
            padding-left: 15px;
            padding-bottom: 90px;
            background-position: 23px 20%;

            .why-text {
                margin-top: 50px;

                p {
                    line-height: 40px;
                }

                span {
                    font-size: 18px;
                    line-height: 24px;
                }
            }

            .discover-text {
                font-size: 60px;
                line-height: 55px;
            }
        }
    }


    .spec-container.generation-container {
        .body-item {
            .step-info {
                margin-top: 60px;
                padding-bottom: 180px;
                padding-right: 0px;
                padding-left: 0px;

                .step-left {
                    padding-left: 65px;
                    min-width: 100%;

                    .step {
                        height: 56px;

                        p {
                            font-size: 62px;
                            line-height: 62px;
                        }

                        span {
                            font-size: 18px;
                        }
                    }
                }
            }

            .generation-text {
                font-size: 42px;
                line-height: 45px;
            }
        }
    }

    .spec-container.installation-container {
        .body-item {
            .installation {
                padding-right: 0;
                padding-left: 0;
                padding-bottom: 82px;

                .left {
                    img {
                        margin-top: 56px;
                    }

                    span {
                        font-size: 26px;
                        margin-top: 67px;
                        line-height: 32px;
                    }
                }

                .right {
                    padding-top: 70px;
                    line-height: 79px;

                    .installation-item {

                        div.item {
                            min-width: 350px;
                        }

                        .fotter {
                            font-size: 30px;
                            line-height: 31px;
                        }

                        .circle {
                            height: 130px;
                            width: 130px;
                            border-radius: 70px;
                        }

                        div.item {
                            /*height: 876px;*/
                            .head {
                                height: 70px;
                            }
                        }
                    }
                }
            }
        }
    }

    .spec-container.powered-container {
        .body-item {
            -o-background-size: 97% auto;
            -webkit-background-size: 97% auto;
            -moz-background-size: 97% auto;
            background-size: 90% auto;

            .powered-text-info {
                margin-top: 168px;
                line-height: 30px;
                margin-right: 0;
                width: 100%;
                padding-right: 10px;

                .info {
                    font-size: 18px;
                    margin-right: 0;
                }

                .bonus {
                    font-size: 18px;
                    margin-right: 0;
                }

                .proof {
                    font-size: 16px;
                    margin-right: 0;
                }
            }


            .powered-text {
                font-size: 70px;
            }
        }
    }

    .spec-container.contact-container {
        .body-item {
            .from-item {
                margin-right: 17px;
                padding-left: 40px;
                padding-bottom: 45px;
            }
        }
    }

    /*.group-btn {
        .btn-app-com {
            font-size: 24px;
            line-height: 26px;
            letter-spacing: 0.8px;
            padding: 16px;
            border-radius: 3px;
            width: 350px;
        }
    }*/

    .btn-app-com {
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 0.8px;
        padding: 16px;
        border-radius: 3px;
        width: 350px;
    }
}
