﻿@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-500.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-100Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-300.otf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-300Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-500.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-500Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-700.otf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-700Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-900.otf') format('opentype');
  font-weight: 900;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-900Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
body {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'MuseoSans';
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100%;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/*input,
select,
textarea {
    max-width: 280px;
}*/
.container-center {
  max-width: 1800px;
  width: 100%;
}
.container-center .header-item {
  height: 300px;
  background-color: #fff;
  padding-right: 104px;
  /*background-image: url('Image/Logo.png');
        background-repeat: no-repeat;
        background-position: 51px 35px;
        background-size: 800px;
        -o-background-size: 43% auto;
        -webkit-background-size: 43% auto;
        -moz-background-size: 43% auto;
        -o-background-size: 43% auto;
        -webkit-background-size: 43% auto;
        -moz-background-size: 43% auto;
        background-size: 43% auto;*/
  /*background-position: 27px 77px;*/
}
.container-center .header-item .navbar {
  padding: 0;
}
.container-center .header-item .navbar .navbar-toggler {
  margin-left: 30px;
}
.container-center .header-item .navbar .navbar-toggler i {
  font-size: 40px;
  color: #767676;
}
.container-center .header-item .navbar .navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0;
}
.container-center .header-item .header-logo {
  padding-top: 35px;
  padding-left: 50px;
  padding-bottom: 0;
  display: block;
  max-width: 850px;
  width: 100%;
}
.container-center .header-item .header-logo .logo {
  /*position: absolute;*/
  width: 100%;
  max-width: 800px;
}
.container-center .header-item .header-line {
  display: block;
  margin-top: -30.5px;
  width: 100%;
  padding-left: 18%;
  /*margin-right: 100px;*/
}
.container-center .header-item .header-line .line {
  height: 5px;
  background-color: #316098;
  border-radius: 5px;
}
.container-center .header-item .separator {
  font-weight: 300;
  font-size: 23px;
  /*margin-left: 10px;
                margin-right: 10px;*/
}
.container-center .header-item .header-text {
  padding-left: 104px;
  padding-top: 30px;
}
.container-center .header-item .header-text .top {
  display: block;
  font-weight: 800;
  font-size: 29px;
}
.container-center .header-item .header-text .bottom {
  display: block;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}
.spec-container {
  display: block;
  width: 100%;
}
.spec-container.header-container {
  background-color: #fff;
}
.spec-container.discover-container {
  background-color: #356094;
}
.spec-container.discover-container .body-item {
  min-height: 760px;
  height: 100%;
  width: 100%;
  display: inline-block;
  background-image: url('Image/Div1_Image.png');
  background-repeat: no-repeat;
  background-size: 90% auto;
  -o-background-size: 90% auto;
  -webkit-background-size: 90% auto;
  -moz-background-size: 90% auto;
  /*background-size: 90% auto;
            background-position: 27px 77px;*/
  background-size: 91% auto;
  background-position: 30px 100%;
  padding-right: 60px;
}
.spec-container.discover-container .body-item .discover-text {
  font-size: 151px;
  font-weight: 800;
  line-height: 119px;
  padding-top: 39px;
  padding-left: 35px;
  letter-spacing: -2.1px;
  color: rgba(92, 131, 180, 0.6);
}
.spec-container.discover-container .body-item .why-text {
  max-width: 940px;
  width: 100%;
  color: #fff;
  float: right;
  text-align: right;
  padding-top: 90px;
}
.spec-container.discover-container .body-item .why-text p {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 34px;
}
.spec-container.discover-container .body-item .why-text span {
  display: block;
  margin-bottom: 20px;
  font-size: 19px;
  line-height: 24px;
}
.spec-container.generation-container {
  background-color: #5D7FA9;
  position: relative;
}
.spec-container.generation-container .paralax {
  background-image: url('Image/Blueprint_BG.png');
  opacity: 0.2;
  filter: alpha(opacity=20);
  /* background-color: white; */
  /* z-index: 990; */
  /*height: 680px;*/
  height: 100%;
  content: '';
  background-attachment: fixed;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  position: absolute;
  top: 0px;
  width: 100%;
}
.spec-container.generation-container .body-item {
  min-height: 680px;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
  background-image: url('Image/Div2_Image.png');
  background-repeat: no-repeat;
  background-size: auto 90%;
  -o-background-size: auto 90%;
  -webkit-background-size: auto 90%;
  -moz-background-size: auto 90%;
  background-position: 53px 23px;
}
.spec-container.generation-container .body-item .step-info {
  margin-top: 45px;
  display: flex;
  padding-right: 60px;
  padding-left: 138px;
  justify-content: center;
}
.spec-container.generation-container .body-item .step-info .step-left {
  color: #ffffff;
  display: inline-block;
  min-width: 450px;
}
.spec-container.generation-container .body-item .step-info .step-left .step {
  display: block;
  position: relative;
  min-height: 80px;
  margin-bottom: 14px;
  display: flex;
  align-items: flex-end;
}
.spec-container.generation-container .body-item .step-info .step-left .step p {
  position: absolute;
  font-size: 107px;
  color: #86a1c1;
  font-weight: 800;
  line-height: 88px;
}
.spec-container.generation-container .body-item .step-info .step-left .step span {
  font-size: 25px;
  margin-bottom: 8px;
  display: block;
  margin-left: 42px;
  z-index: 1;
}
.spec-container.generation-container .body-item .step-info .step-right {
  /*width: 60%;*/
  display: inline-block;
  /*padding-left: 75px;*/
  text-align: center;
}
.spec-container.generation-container .body-item .step-info .step-right .steps-item {
  color: #ffffff;
}
.spec-container.generation-container .body-item .step-info .step-right .steps-item p {
  font-size: 43px;
  font-weight: 800;
  margin-top: 25px;
  margin-bottom: 0px;
}
.spec-container.generation-container .body-item .step-info .step-right .steps-item span {
  font-size: 20px;
  line-height: 25px;
}
.spec-container.generation-container .body-item .step-info .step-right .steps-item .circle {
  display: block;
  background-color: #86a1c1;
  /* color: black; */
  height: 185px;
  width: 185px;
  border-radius: 100px;
  text-align: center;
  margin: auto;
}
.spec-container.generation-container .body-item .step-info .step-right .steps-item .circle.one .fas {
  font-size: 115px;
  line-height: 182px;
}
.spec-container.generation-container .body-item .step-info .step-right .steps-item .circle.two .fas {
  font-size: 100px;
  line-height: 182px;
  margin-left: 8px;
}
.spec-container.generation-container .body-item .step-info .step-right .steps-item .circle.three .fas {
  font-size: 108px;
  line-height: 182px;
}
.spec-container.generation-container .body-item .generation-text {
  font-size: 107px;
  font-weight: 800;
  line-height: 88px;
  padding-top: 39px;
  /* color: rgba(164, 184, 208, 0.6); */
  color: #86a1c1;
  text-align: right;
  margin-right: 60px;
  letter-spacing: -2.1px;
}
.spec-container.installation-container {
  background-color: #859FBE;
  position: relative;
}
.spec-container.installation-container .paralax {
  background-image: url('Image/Blueprint_BG.png');
  opacity: 0.2;
  filter: alpha(opacity=20);
  /* background-color: white; */
  /* z-index: 990; */
  height: 100%;
  /*height: 715px;*/
  content: '';
  background-attachment: fixed;
  background-position: right;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  position: absolute;
  top: 0px;
  width: 100%;
}
.spec-container.installation-container .body-item {
  min-height: 715px;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
  /*background-image: url('Image/Div3_Image.png');
            background-repeat: no-repeat;
            background-size: 39% auto;
            -o-background-size: 39% auto;
            -webkit-background-size: 39% auto;
            -moz-background-size: 39% auto;
            -o-background-size: 39% auto;
            -webkit-background-size: 39% auto;
            -moz-background-size: 39% auto;
            background-position: 30px 40px;*/
  /*.installation-text {
                font-size: 107px;
                font-weight: 800;
                line-height: 88px;
                padding-top: 39px;
                padding-left: 35px;
                /* color: rgba(164, 184, 208, 0.6);
            color: #86a1c1;
            text-align: right;
            padding-left: 420px;
            margin-right: 60px;
            letter-spacing: -2.1px;
        }

        */
}
.spec-container.installation-container .body-item .installation {
  display: flex;
  padding-right: 45px;
  padding-left: 45px;
}
.spec-container.installation-container .body-item .installation .left {
  /*width: 45%;*/
  display: inline-block;
  text-align: center;
}
.spec-container.installation-container .body-item .installation .left img {
  margin-top: 130px;
}
.spec-container.installation-container .body-item .installation .left span {
  font-size: 30px;
  color: #fff;
  text-align: center;
  display: block;
  margin-top: 40px;
  line-height: 35px;
}
.spec-container.installation-container .body-item .installation .left span.proof {
  font-size: 15px;
  display: block;
  margin: 0 20px 0 0;
  text-align: right;
}
.spec-container.installation-container .body-item .installation .right {
  /*width: 55%;*/
  display: inline-block;
  padding-top: 34px;
}
.spec-container.installation-container .body-item .installation .right span {
  color: #2d6199;
  font-size: 47px;
  font-weight: 800;
  margin-bottom: 10px;
  display: block;
  letter-spacing: -0.5px;
}
.spec-container.installation-container .body-item .installation .right .installation-item .head {
  display: block;
  height: 47px;
  width: 100%;
  background-color: rgba(76, 76, 77, 0.4);
  text-align: center;
}
.spec-container.installation-container .body-item .installation .right .installation-item .head span {
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.spec-container.installation-container .body-item .installation .right .installation-item .circle {
  height: 90px;
  width: 90px;
  background-color: #fff;
  border-radius: 50px;
  margin-top: -43px;
  text-align: center;
  margin-left: 5px;
}
.spec-container.installation-container .body-item .installation .right .installation-item .circle img {
  height: 100%;
}
.spec-container.installation-container .body-item .installation .right .installation-item .circle.one {
  padding: 13px;
}
.spec-container.installation-container .body-item .installation .right .installation-item .circle.two {
  padding: 15px;
}
.spec-container.installation-container .body-item .installation .right .installation-item .circle.three {
  padding: 7px;
}
.spec-container.installation-container .body-item .installation .right .installation-item .fotter {
  display: block;
  height: 150px;
  width: 100%;
  background-color: rgba(76, 76, 77, 0.4);
  /*position: absolute;*/
  bottom: 0;
  color: #fff;
  text-align: left;
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
  padding-top: 20px;
  padding-left: 13px;
  margin-top: 85%;
}
.spec-container.installation-container .body-item .installation .right .installation-item div.item {
  border: 1px solid #707170;
  background-repeat: no-repeat;
  /*height: 515px;*/
  min-width: 240px;
}
.spec-container.installation-container .body-item .installation .right .installation-item div.item:nth-child(1) {
  background-image: url('Image/removingAnodeWide.png');
}
.spec-container.installation-container .body-item .installation .right .installation-item div.item:nth-child(2) {
  background-image: url('Image/insertingElectricAnodeWide.png');
}
.spec-container.installation-container .body-item .installation .right .installation-item div.item:nth-child(3) {
  background-image: url('Image/pluggingIn.png');
}
.spec-container.powered-container {
  background-color: #ffffff;
  position: relative;
}
.spec-container.powered-container .body-item {
  height: 100%;
  width: 100%;
  min-height: 785px;
  display: inline-block;
  position: relative;
  background-image: url('Image/Div4_Image.png');
  background-repeat: no-repeat;
  -moz-background-size: 87% auto;
  -o-background-size: 87% auto;
  -webkit-background-size: 87% auto;
  -moz-background-size: 90% auto;
  background-size: 87% auto;
  background-position: 115px 320px;
}
.spec-container.powered-container .body-item .powered-text {
  font-size: 188px;
  font-weight: 800;
  line-height: 151px;
  padding-top: 36px;
  padding-left: 111px;
  letter-spacing: -2.1px;
  color: #b9c8db;
}
.spec-container.powered-container .body-item .powered-text-info {
  float: right;
  text-align: right;
  margin-top: 124px;
  line-height: 30px;
  margin-right: 290px;
  letter-spacing: -0.33px;
  padding-bottom: 45px;
}
.spec-container.powered-container .body-item .powered-text-info .info {
  font-size: 25px;
  display: block;
  margin-bottom: 31px;
}
.spec-container.powered-container .body-item .powered-text-info .bonus {
  font-size: 25px;
  font-weight: 700;
  display: block;
  margin-bottom: 24px;
}
.spec-container.powered-container .body-item .powered-text-info .proof {
  font-size: 15px;
  display: block;
}
.spec-container.contact-container {
  background-color: #e3e3e3;
  position: relative;
}
.spec-container.contact-container .body-item {
  height: 100%;
  width: 100%;
  min-height: 593px;
  display: inline-block;
  position: relative;
}
.spec-container.contact-container .body-item .from-item {
  padding-left: 115px;
  margin-right: 285px;
  padding-bottom: 160px;
}
.spec-container.contact-container .body-item .from-item p {
  font-size: 40px;
  font-weight: 800;
  padding-top: 46px;
}
.spec-container .submit-btn {
  margin-top: 20px;
}
.btn-app-com {
  background-color: #2d6199;
  color: #ffffff;
  font-weight: 800;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.8px;
  padding: 0;
  border-radius: 3px;
  width: 240px;
  box-shadow: 0px 2px 8px #888888;
}
.group-btn {
  margin-top: 35px;
  display: inline-flex;
  justify-content: space-between;
  width: 544px;
}
input.form-control-app-com {
  height: 62px;
}
.form-control-app-com.input-validation-error {
  border-color: #fb5252;
}
.field-validation-error {
  color: #fb5252;
}
.form-control-app-com {
  border: 2px solid #707170;
  border-radius: 2px;
  font-size: 25px;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fff;
}
.custom-control-label::before {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  /* background-color: red; */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
.custom-checkbox .custom-control-label::before {
  border-radius: 0.1rem;
  left: -2.5rem;
  border: 2px solid #707170;
}
.custom-control-label::after {
  width: 2rem;
  height: 2rem;
  left: -2.5rem;
  border: 2px solid #707170;
}
.custom-control-label {
  line-height: 3.5;
  font-weight: 300;
}
.custom-control.custom-checkbox {
  padding-left: 2.5rem;
  padding-top: 25px;
}
.link {
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  white-space: nowrap;
  font-size: 23px;
  font-weight: 800;
}
.link:hover {
  color: #5c83b4;
}
.link:active {
  color: #3c5574;
}
#back-to-top {
  z-index: 99;
  position: fixed;
  bottom: 105px;
  right: 50px;
  background: #000000;
  background: rgba(43, 81, 126, 0.8);
  width: 70px;
  height: 70px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 8px #333333;
}
#back-to-top:hover {
  background: rgba(34, 56, 83, 0.66);
}
#back-to-top:hover i {
  color: #fff;
  top: 5px;
}
#back-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 42px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.swal-modal {
  /*border: 1px solid #707170;
    border-radius: 1px;*/
}
.swal-overlay {
  background-color: rgba(181, 181, 181, 0.45);
}
@media (max-width: 460px) {
  .powered-modal {
    min-width: 200px !important;
  }
}
@media (max-width: 668px) {
  .powered-modal {
    min-width: 300px !important;
  }
  #info-modal .content span {
    font-size: 21px;
  }
  #info-modal .content span.details {
    font-size: 17px;
    font-weight: normal;
    margin-top: 25px;
  }
}
.powered-modal {
  border: 1px solid #707170;
  border-radius: 1px;
  min-width: 650px;
}
.powered-modal .swal-content {
  padding: 0;
  margin: 0;
}
#info-modal {
  display: none;
}
#info-modal .header {
  width: 100%;
  display: block;
  height: 140px;
  background-color: #fff;
  position: relative;
}
#info-modal .header .back {
  display: block;
  width: 100%;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('Image/Popup_Image.png');
  background-repeat: no-repeat;
  -o-background-size: 95% auto;
  -webkit-background-size: 95% auto;
  -moz-background-size: 95% auto;
  background-size: 95% auto;
  background-position: 15px 103px;
}
#info-modal .header .close {
  display: block;
  position: absolute;
  top: 20px;
  right: 28px;
  cursor: pointer;
  color: #fff;
  font-size: 25px;
}
#info-modal .header .header-part {
  display: block;
  width: 100%;
  height: 120px;
  background-color: #2d6199;
}
#info-modal .header .header-part span {
  font-size: 44px;
  font-weight: 800;
  color: #fff;
  height: 120px;
  padding-top: 50px;
  display: block;
}
#info-modal .content {
  display: block;
  background-color: #fff;
  padding: 40px 35px 50px;
}
#info-modal .content span {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: #2d6199;
  display: block;
}
#info-modal .content span.details {
  font-size: 21px;
  font-weight: normal;
  margin-top: 25px;
}
@media (max-width: 1843px) {
  .spec-container.discover-container .body-item {
    background-size: 88% auto;
    background-position: 30px 80%;
  }
}
@media (max-width: 1740px) {
  .spec-container.discover-container .body-item {
    background-size: 85% auto;
    background-position: 30px 64%;
  }
  .spec-container.discover-container .body-item .why-text {
    margin-top: 190px;
  }
}
@media (max-width: 1200px) {
  .container-center .header-item {
    /*padding-right: 0px;*/
    /*.header-logo {
                padding-right: 104px;
            }*/
  }
  .container-center .header-item .header-line {
    margin-top: -12.5px;
  }
  .container-center .header-item .header-text .top {
    font-size: 25px;
  }
  .container-center .header-item .header-text .bottom {
    font-size: 20px;
  }
  .spec-container.discover-container .body-item {
    background-size: 95% auto;
    background-position: 23px 42%;
  }
  .spec-container.discover-container .body-item .discover-text {
    font-size: 110px;
    line-height: 90px;
    letter-spacing: -2.1px;
  }
  .spec-container.installation-container .body-item .installation {
    padding-bottom: 45px;
  }
  .spec-container.installation-container .body-item .installation .right span {
    text-align: center;
  }
  .spec-container.installation-container .body-item .installation .right .installation-item div.item {
    background-size: 100% 100%;
    /*height: 420px;*/
  }
  .spec-container.generation-container .body-item .step-info .step-right .steps-item {
    justify-content: center;
    padding-bottom: 90px;
  }
  .spec-container.generation-container .body-item .step-info .step-right .steps-item > div {
    min-width: 220px;
  }
  .spec-container.powered-container .body-item .powered-text-info {
    margin-right: 50px;
  }
  .spec-container.powered-container .body-item .powered-text {
    font-size: 130px;
    font-weight: 800;
    line-height: 126px;
    padding-top: 35px;
    padding-left: 111px;
    letter-spacing: -2.1px;
    color: #b9c8db;
  }
  .spec-container.contact-container .body-item .from-item {
    margin-right: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 991px) {
  .container-center .header-item {
    padding-right: 0px;
  }
  .container-center .header-item .header-text {
    padding-right: 35px;
  }
  .container-center .header-item .header-line {
    padding-right: 35px;
  }
  .container-center .header-item .header-logo {
    padding-right: 104px;
  }
  .navbar-collapse {
    position: absolute;
    background-color: rgba(88, 131, 183, 0.96);
    width: 100%;
    z-index: 99;
    top: 38%;
  }
  .navbar-collapse .navbar-nav .nav-link {
    color: #fff;
    padding-left: 20px;
  }
  .navbar-collapse .navbar-nav .nav-link.separator {
    display: none;
  }
}
@media (max-width: 769px) {
  .container-center .header-item {
    height: 250px;
  }
  .container-center .header-item .navbar .navbar-toggler {
    margin-left: 0px;
  }
  .container-center .header-item .header-logo {
    padding-right: 55px;
    padding-top: 20px;
    padding-left: 32px;
  }
  .container-center .header-item .header-line {
    padding-right: 15px;
    margin-top: -14.5px;
  }
  .container-center .header-item .header-text {
    padding-right: 0;
    padding-left: 0;
    padding-top: 10px;
  }
  .container-center .header-item .header-text .top {
    padding-left: 10%;
    padding-right: 10%;
    display: block;
    letter-spacing: 0.6px;
    line-height: 32px;
  }
  .container-center .header-item .header-text .bottom {
    font-size: 22px;
    margin-top: 9px;
    display: block;
    line-height: 18px;
  }
  .spec-container.discover-container .body-item {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 90px;
    background-position: 23px 25%;
  }
  .spec-container.discover-container .body-item .why-text {
    margin-top: 176px;
  }
  .spec-container.discover-container .body-item .why-text p {
    margin-bottom: 31px;
  }
  .spec-container.discover-container .body-item .why-text span {
    font-size: 27px;
    line-height: 30px;
  }
  .spec-container.discover-container .body-item .discover-text {
    font-size: 90px;
    line-height: 70px;
    letter-spacing: -2.1px;
    padding-left: 0;
    padding-top: 29px;
    letter-spacing: -3px;
  }
  .spec-container.generation-container .body-item {
    background-size: 10.1% auto;
    -o-background-size: 10.1% auto;
    -webkit-background-size: 10.1% auto;
    -moz-background-size: 10.1% auto;
    background-position: 38px 31px;
  }
  .spec-container.generation-container .body-item .step-info {
    margin-top: 60px;
    padding-right: 33px;
    padding-left: 50px;
    padding-bottom: 180px;
  }
  .spec-container.generation-container .body-item .step-info .step-left {
    padding-left: 94px;
  }
  .spec-container.generation-container .body-item .step-info .step-left .step {
    height: 56px;
  }
  .spec-container.generation-container .body-item .step-info .step-left .step p {
    font-size: 62px;
    line-height: 62px;
  }
  .spec-container.generation-container .body-item .step-info .step-left .step span {
    margin-left: 31px;
    line-height: 24px;
  }
  .spec-container.generation-container .body-item .step-info .step-right .steps-item {
    justify-content: center;
  }
  .spec-container.generation-container .body-item .step-info .step-right .steps-item > div {
    min-width: 360px;
  }
  .spec-container.generation-container .body-item .step-info .step-right .steps-item p {
    font-size: 60px;
    margin-top: 35px;
  }
  .spec-container.generation-container .body-item .step-info .step-right .steps-item span {
    font-size: 35px;
    line-height: 45px;
    margin-top: 8px;
    display: block;
    /*padding-left: 80px;
                            padding-right: 80px;*/
  }
  .spec-container.generation-container .body-item .step-info .step-right .steps-item .circle {
    height: 280px;
    width: 280px;
    border-radius: 150px;
    margin-top: 60px;
    /*margin-left: 116px;*/
  }
  .spec-container.generation-container .body-item .step-info .step-right .steps-item .circle.one .fas {
    font-size: 180px;
    line-height: 276px;
  }
  .spec-container.generation-container .body-item .step-info .step-right .steps-item .circle.two .fas {
    font-size: 154px;
    line-height: 270px;
    margin-left: 18px;
  }
  .spec-container.generation-container .body-item .step-info .step-right .steps-item .circle.three .fas {
    font-size: 158px;
    line-height: 285px;
  }
  .spec-container.generation-container .body-item .generation-text {
    font-size: 89px;
    font-weight: 800;
    line-height: 72px;
    padding-top: 58px;
    margin-right: 30px;
    letter-spacing: 0.2px;
  }
  .spec-container.installation-container .body-item .installation {
    padding-right: 18px;
    padding-left: 45px;
    padding-bottom: 82px;
  }
  .spec-container.installation-container .body-item .installation .left img {
    margin-top: 56px;
  }
  .spec-container.installation-container .body-item .installation .left span {
    font-size: 26px;
    margin-top: 67px;
    line-height: 32px;
  }
  .spec-container.installation-container .body-item .installation .right {
    padding-top: 70px;
    line-height: 79px;
  }
  .spec-container.installation-container .body-item .installation .right .installation-item div.item {
    min-width: 350px;
  }
  .spec-container.installation-container .body-item .installation .right .installation-item .fotter {
    font-size: 30px;
    line-height: 31px;
  }
  .spec-container.installation-container .body-item .installation .right .installation-item .circle {
    height: 130px;
    width: 130px;
    border-radius: 70px;
  }
  .spec-container.installation-container .body-item .installation .right .installation-item div.item {
    /*height: 876px;*/
  }
  .spec-container.installation-container .body-item .installation .right .installation-item div.item .head {
    height: 70px;
  }
  .spec-container.powered-container .body-item {
    -o-background-size: 97% auto;
    -webkit-background-size: 97% auto;
    -moz-background-size: 97% auto;
    background-size: 97% auto;
    background-position: 21px 283px;
  }
  .spec-container.powered-container .body-item .powered-text-info {
    margin-top: 168px;
    line-height: 30px;
    margin-right: 0;
  }
  .spec-container.powered-container .body-item .powered-text-info .info {
    margin-right: 27px;
  }
  .spec-container.powered-container .body-item .powered-text-info .bonus {
    margin-right: 27px;
  }
  .spec-container.powered-container .body-item .powered-text-info .proof {
    font-size: 25px;
    margin-right: 27px;
  }
  .spec-container.powered-container .body-item .powered-text {
    font-size: 90px;
    line-height: 74px;
    padding-top: 65px;
    padding-left: 16px;
  }
  .spec-container.contact-container .body-item .from-item {
    margin-right: 17px;
    padding-left: 40px;
    padding-bottom: 45px;
  }
  .btn-app-com {
    font-size: 36px;
    line-height: 33px;
    letter-spacing: 0.8px;
    padding: 16px;
    border-radius: 3px;
    width: 438px;
  }
  .group-btn {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .group-btn .btn-app-com {
    margin-bottom: 40px;
  }
}
@media (max-width: 540px) {
  .container-center .header-item {
    height: 175px;
  }
  .container-center .header-item .navbar .navbar-toggler {
    margin-left: 0;
  }
  .container-center .header-item .header-logo {
    padding-right: 54px;
    padding-top: 15px;
    padding-left: 15px;
  }
  .container-center .header-item .header-line {
    padding-right: 15px;
    margin-top: -12.5px;
  }
  .container-center .header-item .header-text {
    padding-right: 0;
    padding-left: 0;
    padding-top: 10px;
  }
  .container-center .header-item .header-text .top {
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
    display: block;
    letter-spacing: 0.6px;
    line-height: 18px;
  }
  .container-center .header-item .header-text .bottom {
    font-size: 14px;
    margin-top: 9px;
    display: block;
    line-height: 18px;
  }
  .spec-container.discover-container .body-item {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 90px;
    background-position: 23px 20%;
  }
  .spec-container.discover-container .body-item .why-text {
    margin-top: 50px;
  }
  .spec-container.discover-container .body-item .why-text p {
    line-height: 40px;
  }
  .spec-container.discover-container .body-item .why-text span {
    font-size: 18px;
    line-height: 24px;
  }
  .spec-container.discover-container .body-item .discover-text {
    font-size: 60px;
    line-height: 55px;
  }
  .spec-container.generation-container .body-item .step-info {
    margin-top: 60px;
    padding-bottom: 180px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .spec-container.generation-container .body-item .step-info .step-left {
    padding-left: 65px;
    min-width: 100%;
  }
  .spec-container.generation-container .body-item .step-info .step-left .step {
    height: 56px;
  }
  .spec-container.generation-container .body-item .step-info .step-left .step p {
    font-size: 62px;
    line-height: 62px;
  }
  .spec-container.generation-container .body-item .step-info .step-left .step span {
    font-size: 18px;
  }
  .spec-container.generation-container .body-item .generation-text {
    font-size: 42px;
    line-height: 45px;
  }
  .spec-container.installation-container .body-item .installation {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 82px;
  }
  .spec-container.installation-container .body-item .installation .left img {
    margin-top: 56px;
  }
  .spec-container.installation-container .body-item .installation .left span {
    font-size: 26px;
    margin-top: 67px;
    line-height: 32px;
  }
  .spec-container.installation-container .body-item .installation .right {
    padding-top: 70px;
    line-height: 79px;
  }
  .spec-container.installation-container .body-item .installation .right .installation-item div.item {
    min-width: 350px;
  }
  .spec-container.installation-container .body-item .installation .right .installation-item .fotter {
    font-size: 30px;
    line-height: 31px;
  }
  .spec-container.installation-container .body-item .installation .right .installation-item .circle {
    height: 130px;
    width: 130px;
    border-radius: 70px;
  }
  .spec-container.installation-container .body-item .installation .right .installation-item div.item {
    /*height: 876px;*/
  }
  .spec-container.installation-container .body-item .installation .right .installation-item div.item .head {
    height: 70px;
  }
  .spec-container.powered-container .body-item {
    -o-background-size: 97% auto;
    -webkit-background-size: 97% auto;
    -moz-background-size: 97% auto;
    background-size: 90% auto;
  }
  .spec-container.powered-container .body-item .powered-text-info {
    margin-top: 168px;
    line-height: 30px;
    margin-right: 0;
    width: 100%;
    padding-right: 10px;
  }
  .spec-container.powered-container .body-item .powered-text-info .info {
    font-size: 18px;
    margin-right: 0;
  }
  .spec-container.powered-container .body-item .powered-text-info .bonus {
    font-size: 18px;
    margin-right: 0;
  }
  .spec-container.powered-container .body-item .powered-text-info .proof {
    font-size: 16px;
    margin-right: 0;
  }
  .spec-container.powered-container .body-item .powered-text {
    font-size: 70px;
  }
  .spec-container.contact-container .body-item .from-item {
    margin-right: 17px;
    padding-left: 40px;
    padding-bottom: 45px;
  }
  /*.group-btn {
        .btn-app-com {
            font-size: 24px;
            line-height: 26px;
            letter-spacing: 0.8px;
            padding: 16px;
            border-radius: 3px;
            width: 350px;
        }
    }*/
  .btn-app-com {
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.8px;
    padding: 16px;
    border-radius: 3px;
    width: 350px;
  }
}